@use '@/color.scss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Sawarabi+Gothic&family=Ubuntu:wght@300;400;700&display=swap');

$default-font: 'Ubuntu', 'Sawarabi Gothic', sans-serif;
$logo-font: 'Dosis', sans-serif;

$size-xsmall: 16px;
$size-small: 18px;
$size-default: 20px;
$size-large: 24px;

html {
  color: color.$text-color;
  font-weight: 400;
  font-size: $size-default;
  font-family: $default-font;
}
