// @use '@/scss/color.scss';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&Dosis:wght@800&family=Sawarabi+Gothic&family=Ubuntu:wght@300;400;700&display=swap';

$default-font: 'Ubuntu', 'Sawarabi Gothic', sans-serif;
$logo-font: 'Dosis', sans-serif;
$size-xxxsmall: 12px;
$size-xxsmall: 14px;
$size-xsmall: 16px;
$size-small: 18px;
$size-default: 20px;
$size-large: 24px;
$size-xlarge: 36px;
$size-xxlarge: 72px;

.font-xxxsmall {
  font-size: $size-xxxsmall;
}

.font-xxsmall {
  @media screen and (max-width: 599px) {
    font-size: $size-xxxsmall;
  }
  
  @media screen and (min-width: 600px) {
    font-size: $size-xxsmall;
  }
}

.font-xsmall {
  @media screen and (max-width: 599px) {
    font-size: $size-xxsmall;
  }
  
  @media screen and (min-width: 600px) {
    font-size: $size-xsmall;
  }
}

.font-small {
  @media screen and (max-width: 599px) {
    font-size: $size-xsmall;
  }
  
  @media screen and (min-width: 600px) {
    font-size: $size-small;
  }
}

.font-medium {
  @media screen and (max-width: 599px) {
    font-size: $size-small;
  }
  
  @media screen and (min-width: 600px) {
    font-size: $size-default;
  }
}

.font-large {
  @media screen and (max-width: 599px) {
    font-size: $size-default;
  }
  
  @media screen and (min-width: 600px) {
    font-size: $size-large;
  }
}

.font-xlarge {
  @media screen and (max-width: 599px) {
    font-size: $size-large;
  }
  
  @media screen and (min-width: 600px) {
    font-size: $size-xlarge;
  }
}

.font-xxlarge {
  @media screen and (max-width: 599px) {
    font-size: $size-xxlarge * 0.75;
  }
  
  @media screen and (min-width: 600px) {
    font-size: $size-xxlarge;
  }
}

.font-xthin {
  font-weight: 100;
}

.font-thin {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

html {
  font-family: $default-font;
  font-size: $size-default;
  font-weight: 400;
}
